/** @format */

.basket {
  text-align: center;

  h1 {
    margin: 30px;
  }
  p {
    margin: 20px;
    color: gray;
  }

  img {
    border-radius: 30px;
  }
  button {
    outline: none;
    border: none;
    cursor: pointer;
    background: #fb9300;
    padding: 15px 25px;
    color: white;
    border-radius: 20px;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
