/** @format */

.navbar {
  background: #ffffff;
  padding: 30px;
  width: 100px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: fixed;
  display: inline-block;
  height: 88vh;

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }

  ul {
    li {
      display: flex;
      margin-bottom: 3.4rem;
      font-size: 25px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      transition: all 0.2 ease;
    }
    .active {
      border-radius: 50%;
      color: white;
      background-color: #fb9300;
      transition: opacity 0.3s ease;
    }
  }
}
@media (max-width: 900px) {
  .navbar {
    width: 70px;
  }
}

@media (max-width: 700px) {
  .navbar {
    width: 45px;
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 30px;
  }
}

@media (max-width: 500px) {
  .navbar {
    display: none;
  }
}
