/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffe2b9;
}
* {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
}
.App {
  margin: 20px;
  background: #faf9fb;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 15% 75% 10%;
}

input,
textarea {
  outline: none;
  border: none;
}

@media (max-width: 1200px) {
  .App {
    grid-template-columns: 20% 75% 10%;
  }
  .content {
  }
}

@media (max-width: 600px) {
  .App {
    grid-template-columns: 25% 70%;
  }
  .content {
  }
}

@media (max-width: 500px) {
  .App {
    grid-template-columns: 1fr;
    max-width: 450px;
    margin: 0 auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .food {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 8vh;
  }
}
